$whitish: #fafafa;
$bluish: #4b6deb;

.btn {
  padding: 0.9em 1.5em;
  text-align: center;
  border-radius: 1em;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.input-text {
  padding: 1em 0.5em;
  outline: none;
  border: rgb(150, 150, 150) solid 1px;
  border-radius: 0.5em;
}

.btn-primary {
  background: $bluish;
  color: $whitish;
  border: none;
  outline: none;
}

.--blue-shadow {
  box-shadow: $bluish 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn-primary-outline {
  background: $whitish;
  color: $bluish;
  border: $bluish solid 2px;
}

.posts__list{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  justify-content: space-between;
  width: 50%;
  margin-left: 10%;
  margin-top: 10%;
}

.post__card{
  display: flex;
  justify-content: space-between;
  width: 300px;
  
}

.posts__container{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  .post__header{
    font-weight: 1000;
  }
}

.post__footer{
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.img__block{
  border-right: 1px solid gray;
  width: 70%;
}


